* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: #000;
    color: #FFF;




}

.banner {
    width: 100%;
    max-width: 100%;
    height: 605px;
    flex-shrink: 0;
    background: radial-gradient(circle, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);

}

.banner-content {

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(49, 168, 221, 0.00) 100%),
        url(./assets/banner.png);

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;


}
.logo{
    width: 248px;
height: 214px;
margin:40px;

}

.banner-content h1 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 16px;
    ;

}

.banner-content p {

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 514px;
    text-align: center;
}

.banner-content button {
    display: flex;
    width: 406px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;
    gap: 31px;
    border: 2px solid #3BA1CD;
    color: #31A8DD;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    margin: 24px;
    background-color: transparent;
}

#course-content {
    border-top: 1px solid #33A8DB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:600px;

}

#course-content h2 {
    color: #33A8DB;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    margin: 30px;;
}

#course-content p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

#course-content .course-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}


#course-content p {
    width: 792px;
    color: #fff;
    margin: 24px;
}


#course-content .module{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 735px;
    padding: 16px 127px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    margin: 24px;
}


 #course-content .module span {
    color: #33A8DB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

 }



#transform-world {
    border-top: 1px solid #33A8DB;
    position: relative;

    width: 100%;
    height: 500px;
    ;
    padding: 24px;
    flex-shrink: 0;

    background-image: url(./assets/woman-code.png);
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#transform-world p {
    color: #FFF;
    text-shadow: 3px 2px 0px #33A8DB;
    font-size: 35px;
    font-weight: 900;
    width: 244px;
    height: 141px;
    left: 228px;
    position: absolute;
    top: 200px;

}

#professional-challenges {
    border-top: 1px solid #33A8DB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    padding: 24px;
}

#professional-challenges h2 {
    color: #33A8DB;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    margin: 60px;
    width: 746px;
    height: 76px;

}

#professional-challenges p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 792px;
    margin: 40px;
    ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    padding: 24px;
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
}
footer a {
text-decoration:none;;
    color: #33A8DB;
   
}